<footer class="mainfooter" role="contentinfo">
    <div id="newsletter" class="newsletter-slug">
        <h2>Newsletter</h2>
        <p><strong>Stay connected and get updates on ongoing projects and blogs</strong></p>
    </div>
    {% include newsletter-form.html %}
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                <!--Column1-->
                    <div class="footer-pad">
                        <h3 class="text-center" style="padding-top: 5px; padding-bottom: 5px;">Heading 1</h3>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#"></a></li>
                            <li class="text-center"><a href="#">Payment Center</a></li>
                            <li class="text-center"><a href="#">Contact Directory</a></li>
                            <li class="text-center"><a href="#">Forms</a></li>
                            <li class="text-center"><a href="#">News and Updates</a></li>
                            <li class="text-center"><a href="#">FAQs</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                <!--Column1-->
                    <div class="footer-pad">
                        <h3 class="text-center" style="padding-top: 5px; padding-bottom: 5px;">Heading 2</h3>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#">Website Tutorial</a></li>
                            <li class="text-center"><a href="#">Accessibility</a></li>
                            <li class="text-center"><a href="#">Disclaimer</a></li>
                            <li class="text-center"><a href="#">Privacy Policy</a></li>
                            <li class="text-center"><a href="#">FAQs</a></li>
                            <li class="text-center"><a href="#">Webmaster</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-5">
                <!--Column1-->
                    <div class="footer-pad">
                        <h3 class="text-center" style="padding-top: 5px; padding-bottom: 5px;">Heading 3</h3>
                        <ul class="list-unstyled">
                            <li class="text-center"><a href="#">Parks and Recreation</a></li>
                            <li class="text-center"><a href="#">Public Works</a></li>
                            <li class="text-center"><a href="#">Police Department</a></li>
                            <li class="text-center"><a href="#">Fire</a></li>
                            <li class="text-center"><a href="#">Mayor and City Council</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center"><strong>&copy; Copyright 2020 - SAC, KGEC  :  All rights reserved.</strong></p>
                </div>
            </div>
  
        </div>
    </div>
</footer>